.titre {
  color: #ecdeb8; }

.container {
  box-shadow: 0px 2px 3px; }

hr {
  background-color: blue; }

ul > li {
  word-wrap: break-word;
  font-size: 1.3rem;
  position: relative;
  cursor: default; }
  ul > li:hover {
    background-color: #0f0f0f;
    color: #fff; }
    ul > li:hover .fa-trash-alt {
      visibility: visible; }
  ul > li .fa-trash-alt {
    color: #d41616;
    position: absolute;
    right: 1rem;
    cursor: pointer;
    visibility: hidden;
    margin-left: 1rem; }
  ul > li .fa-check-circle {
    margin-right: 1rem;
    color: green;
    visibility: hidden; }

.clear {
  display: inline-block;
  position: absolute;
  right: 1rem;
  bottom: 2rem; }

.task-title {
  position: relative; }

.isComplete .fa-check-circle {
  visibility: visible;
  color: #0cec0c; }
